@use './vars' as *;

body {
  font-family: $fontFamily;
  font-weight: $fontWeightBase;
  font-size: $fontSizeBase;
  color: $colorBase;
  background-color: $colorBG;
}
// Обертка
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10rem;
}

