extends templates/layout

block menu
  .menu__inner
    p.
      Основная идея: отслеживать новые дизайны и фичи.<br>
      Выбираю дизайн из насмотренности по тренду.<br>
      Производство и продажа сайтов:<br>
      - дизайн сайта в фигме.<br>
      - посадка верстки на вордпресс.<br>
      - тема и плагин для вордпресс.<br>
      - мобильное приложение и API с вордпресс на бекенде.<br>
      - SEO & Ads & Google Shopping (Merchant) & SMM<br>
      - security<br>
      <br>
      Каждая тема сайта представляется в трёх вариантах функционала:<br>
      - лэндинг<br>
      - корпоратив<br>
      - магазин<br>
      <br>
      тем, по которым буду продавать ссылки:<br>
      - Астрология и гадание<br>
      - Гаджеты<br>
      - Ментальное здоровье<br>
      - Дом и интерьер<br>
      - Красота и здоровье<br>
      - Авто-мото<br>
      - Общепит

      посмотреть google trends,
      посмотреть сайты в топе поисковой выдачи
      запросы:
      - самые посещаемые сайты
      - каждая тема отдельно

      сделать клон по функционалу и поменять внешний вид.

      На каждую тему по два сайта (en, ru)<br>
      Делаю контент (статьи).<br>
      Беру хостинг с доменом.<br>
      Продаю ссылки в статьях на русском и перевожу на английский.<br>
      <br>
      - HTML(Pug) + CSS(SCSS) + JS + React + Git + Gulp<br>
      - SQL + PHP + Wordpress + SlimPHP + Docker + Jenkins<br>
      - Net + Rust + Kali + Linux + Android + Windows<br>
      - Figma + SEO + UI/UX + Google + Youtube + Telegramm<br>
      - Гражданство + Бизнес + Резиденство + Отдых + Информация + Активы<br>
      - СМИ + Деньги + Политика + Недвижимость + Металлы + Цен.бум.<br>
      <br>
    a(href="https://www.freelancer.com/") freelancer<br>
    a(href="https://www.upwork.com/freelance-jobs/") upwork<br>
    a(href="https://www.fiverr.com/") fiverr<br>
    a(href="https://kwork.ru/") kwork<br>
    a(href="https://www.behance.net") behance<br>
    a(href="https://www.patreon.com/ru-RU") patrion<br>
    a(href="https://collaborator.pro/ru") collaborator<br>
    a(href="https://link.builders/sell-links/") builders<br>