extends templates/layout

block menu  
  .menu__item
    a(href="./english.html") English
    a(href="./deutsch.html") Deutsch
    a(href="./idea.html") Idea
    a(href="./business.html") Business
    a(href="./design.html") Design
    a(href="./dev.html") Development
    a(href="./qa.html") QA
    a(href="./ci_cd.html") CI_CD
    a(href="./secutity.html") Security
