a(href="https://laravel.com/docs/11.x/sail") laravel
a(href="https://jetstream.laravel.com/introduction.html") jetstream
a(href="https://livewire.laravel.com/") livewire
a(href="https://alpinejs.dev/") alpinejs

//- Install
details
  summary Install
    p.
      Установить docker<br>
      Установить laravel + livewire без авторизации и аутентификации
    pre
      code.
        curl -s "https://laravel.build/projectName" | bash
        cd projectName/vendor/bin
        ./sail up -d
        ./sail composer require livewire/livewire
        ./sail npm install && npm run build
        ./sail artisan migrate
        ./sail composer run dev

    p Установить laravel + livewire c авторизацией и аутентификацией
    pre
      code.
        curl -s "https://laravel.build/projectName" | bash
        cd projectName/vendor/bin
        ./sail up -d
        ./sail composer require laravel/jetstream
        ./sail artisan jetstream:install livewire
        ./sail composer run dev

    p удалить контейнеры
    code ./sail down
    
//- Test
details
  summary Test
  p.
    pest - это обёртка для phpunit.<br>
    файл tests/Pest.php - конфигурация тестов<br>
    создаю тест
  code php artisan make:test
  p запускаю тест
  code php artisan test

//- Model
details
  summary Model

  //- Models
  details
    summary Models
    p помощь по созданию модели
    code php artisan help make:model
    p создаю модель в полном комплекте (Model, Migration, Factory, Seeder, Request, Controller, Policy)
    code php artisan make:model Employer -a
    p создать модель без миграции
    code php artisan make:model Employer -cfs --policy
    p.
      то что не будет использовано можно будет удалить.<br>
      в моделях app/Models/ указать связи
    pre
      code.
        class Employer extends Model
        {
          use HasFactory;
          public function user(): BelongsTo
          {
            return $this->belongsTo(User::class);
          }
          public function jobs(): HasMany
          {
            return $this->hasMany(Job::class);
          }
        }
    p в файле Providers/AppServiceProvider.php
    pre
      code.
        public function boot(): void
        {
          Model::unguard();
        }
    p Показать содажимое БД
    pre
      code.
        ./sail artisan db:show
        ./sail artisan db:table users
    p Показать содажимое таблицы БД
    pre
      code.
        php artisan tinker
        User::all();
    p при типе связи $this->belongsToMany() создать pivot table

  //- Create table
  details
    summary Create table
    p создать таблицу базы данных
    code php artisan make:migration create_employers_table
    p.
      создаст файл database/migrations/2024_05_06_132745_create_employers_table<br>
      в файле описываю поля таблицы<br>
      и запихиваю таблицу в базу данных
    code php artisan migrate

  //- Rename table
  details
    summary Rename table
    p.
      в файле config/queue.php меняю название таблиц по умолчанию<br>
      к названию таблицы добавляю слово queue
    pre
      code.
        'database' => [
          'driver' => 'database',
          'connection' => env('DB_QUEUE_CONNECTION'),
          'table' => env('DB_QUEUE_TABLE', 'queued_jobs'),
          'queue' => env('DB_QUEUE', 'default'),
          'retry_after' => (int) env('DB_QUEUE_RETRY_AFTER', 90),
          'after_commit' => false,
        ],

        'batching' => [
          'database' => env('DB_CONNECTION', 'sqlite'),
          'table' => 'queued_job_batches',
        ],
        'failed' => [
            'driver' => env('QUEUE_FAILED_DRIVER', 'database-uuids'),
            'database' => env('DB_CONNECTION', 'sqlite'),
            'table' => 'queued_failed_jobs',
        ], 
    p.
      в папке database/migrations/<br>
      к названию файла по умолчанию добавляю слово queue
    code 0001_01_01_000002_create_queued_jobs_table.php
    p в нутри файлa к названиям таблиц добавляю слово queue
    pre
      code.
        Schema::create('queued_jobs', function (Blueprint $table) {
          ...
        Schema::create('queued_job_batches', function (Blueprint $table) {
          ...
        Schema::create('queued_failed_jobs', function (Blueprint $table) {
    p удаляю старые файлы и создаю новые c учётом изменений
    code php artisan migrate:fresh
    p чтобы внести изменения в базу данных:
    code php artisan migrate

  //- Factories
  details
    summary Factories
    p в database/factories заполнить фабрики для создания тестового контента<br>

  //- Seeders
  details
    summary Seeders
    p.
      в файлах database/seeders/ создать контент
      Sequence меняет значения полей для каждой итерации цикла создания данных
    pre
      code.
        public function run(): void
        {
          $tags = Tag::factory(3)->create();
          Job::factory(20)->hasAttached($tags)->create(new Sequence([
            'featured' => false,
            'schedule' => 'Full Time',
          ], [
            'featured' => true,
            'schedule' => 'Part Time',
          ]));
        }
    p заполнить базу данных данными
    code php artisan db:seed
    p удалить таблицы, создать новые и заполнить данными
    code php artisan migrate:fresh --seed

  //- Controllers
  details
    summary Controllers

    //- Methods
    table
      caption Methods
      thead
        tr
          th Controller Method 
          th Action
      tbody
        tr
          td index
          td view all
        tr
          td show
          td view one
        tr
          td create
          td show form for create
        tr
          td store
          td create
        tr
          td edit
          td show form for edit
        tr
          td update
          td update
        tr
          td destroy
          td delete
 	
    //- Create controller
    details
      summary Create controller
      p создать контроллер c типовыми методами
      code php artisan make:controller SessionController -r
      p.
        public function __invoke(){} метод применяется в контроллерах c одним действием<br>
        запрос на получение данных из базы данных:
      pre
        code.
          public function __invoke()
          {
            $jobs = Job::query()
              ->with(['employer', 'tags'])
              ->where('title', 'LIKE', '%'.request('q').'%')
              ->get();
            return view('results', ['jobs' => $jobs]);
          }
      p.
        with(['employer', 'tags']) нужен для того, чтобы не создать n+1 проблему<br>
        когда каждая строка таблицы данных будет будет вызываться отдельным запросом

//- Authorization
details
  summary Authorization
  
  //- Gates
  details
    summary Gates
    p.
      Gate - объявляется в App\Providers\AppServiceProvider методом boot(),<br>
      исспользуется для простых ограничений ролей.<br>
      Аргументом всегда принимает пользоватля, к которому применяет ограничения.<br>
      Дополнительные аргументы по необходимости.
    pre
      code.
        use App\Models\Post;
        use App\Models\User;
        use Illuminate\Support\Facades\Gate;

        public function boot(): void
        {
          Gate::define('update-post', function (User $user, Post $post) {
            return $user->id === $post->user_id;
          });
        }
    p.
      Gate::define - объявляю Gate,<br>
      'update-post' - название возможности предоставляемой пользователю<br>
      function (User $user, Post $post) - вернёт true/false,<br>
      true - этому пользователю можно пользоваться этой возможностью<br>
      false - этому пользователю нельзя пользоваться этой возможностью<br>
      <br>
      Можно вынести логику в отдельный класс (политику)
    pre
      code.
        use App\Policies\PostPolicy;
        use Illuminate\Support\Facades\Gate;
        
        public function boot(): void
        {
          Gate::define('update-post', [PostPolicy::class, 'update']);
        }
    p.
      После этого в любом контроллере можем проверять роль конкрено указав пользователя
    pre
      code.
        if (Gate::forUser($user)->allows('update-post', $post)) {}
        
        if (Gate::forUser($user)->denies('update-post', $post)) {}
    p.
      allows - разрешено ли<br>
      denies - запрещено ли<br>
      <br>
      Проверять роль текущего пользователя с кастомным условием
    pre
      code.
        if (! Gate::allows('update-post', $post)) {
          abort(403);
        }
        if (Gate::denies('update-post', $post)) {
          abort(403);
        }
    p.
      Проверять роль текущего пользователя встроенным методом
    pre
      code Gate::authorize('update-post', $post);
    p.
      Проверить несколько возможностей
    pre
      code.
        if (Gate::any(['update-post', 'delete-post'], $post)) {
          // The user can update or delete the post...
        }

        if (Gate::none(['update-post', 'delete-post'], $post)) {
          // The user can't update or delete the post...
        }

  //- Policies
  details
    summary Policies
    p.
      Политика всегда относится к какой-то модели.<br>
      Создать политику можно при создании модели либо отдельно.<br>
      По конвенции название политики содержит название модели.
    code php artisan make:policy PostPolicy
    p Создать политику с методами для модели Post
    code php artisan make:policy PostPolicy --model=Post
    p.
      Назвать политику можно не по конвенции,<br>
      но тогда её нужно зарегистрировать в<br>
      App\Providers\AppServiceProvider методом boot()
    pre
      code.
        use App\Models\ModelName;
        use App\Policies\PolicyName;
        use Illuminate\Support\Facades\Gate;
        
        public function boot(): void
        {
            Gate::policy(ModelName::class, PolicyName::class);
        }
    table
      caption Methods
      thead
        tr
          th Policy Method 
          th Action
      tbody
        tr
          td viewAny
          td view all
        tr
          td view
          td view one
        tr
          td create
          td create & store
        tr
          td update
          td edit
        tr
          td delete
          td mark as delete
        tr
          td restore
          td unmark as delete
        tr
          td forceDelete
          td permanently delete
    p.
      В контроллере гейт может обратиться к политике.<br>
      Первый параметр это название политики,<br>
      второй - либо объект модели, если есть, либо класс модели
    pre
      code.
        Gate::authorize('update', $post);
        <span>or</span>
        Gate::authorize('update', App\Models\Post::class);

//- Routes
details
  summary Routes
  p просмотреть список роутов
  code php artisan route:list --except-vendor
  
  //- Route::view
  p просто выдать страницу без дополнительных действий
  code Route::view('/', 'home');

  //- Name for route
  pre
    code.
      code Route::view('/', 'welcome')->name('home');
      
      <span>welcome.blade.php</span>
      &lt;nav&gt;
        &lt;a href="{{ route('home') }}"&gt;Home&lt;/a&gt;
      &lt;/nav&gt;
  
  //- Execute test
  pre
    code.
      Route::get('test', function () {
        $job = Job::first();

        TranslateJob::dispatch($job);

        return 'Done';
      });
  
  //- Model binding
  p.
    wildcard {job} and parametr of function $job<br>
    type of parametr function (Job $job)<br>
    ларавель понимает, что нужен объект модели Job c данными из таблицы<br>
    этот объект он отбирает из БД по значению {job}<br>
    по умолчанию {job} - это id, но можно задать своё значение {job:name}
  pre
    code.
      Route::get('/jobs/{job}', function (Job $job) {
        return view('jobs.show', ['job' => $job]);
      });
  
  //- Controller classes
  p вызываю метод index из класса контроллера JobController при переходе на /jobs
  code Route::get('/jobs', [JobController::class, 'index']);
  p В livewire можно укзавыть роут на класс компонента
  pre
    code.
      Route::get('/posts', ShowPosts::class);
      Route::get('/posts/create', CreatePost::class);
  p.
    для этого необходимо создать шаблон для всех компонентов<br>
    (components.layouts.app.blade.php)
  code ./sail artisan livewire:layout

  //- Route groups
  p объединяю роуты c одним и тем же контроллером
  pre
    code.
      Route::controller(JobController::class)->group( function()
      {
        Route::get('/jobs', 'index');
        Route::get('/jobs/create', 'create');
        Route::get('/jobs/{job}', 'show');
        Route::get('/jobs/{job}/edit', 'edit');
        Route::post('/jobs', 'store');
        Route::patch('/jobs/{job}', 'update');
        Route::delete('/jobs/{job}', 'destroy');
      });

  //- Route Resources
  p.
    сформирует для методов класса контроллера роуты:
    jobs.index <span>- показать всё списком</span>
    jobs.show <span>- показать один</span>
    jobs.create <span>- создать</span>
    jobs.edit <span>- редактировать</span>
    jobs.store <span>- сохранить</span>
    jobs.update <span>- обновить</span>
    jobs.destroy <span>- уничтожить</span>
    названия методов контроллера - это дефолтные названия ларавел.
  pre
    code.
      Route::resource('uri', controller);
      Route::resource('jobs', JobController::class);
  p можно форимровать роуты выборочно
  pre
    code.
      Route::resource('jobs', JobController::class, [
        'only' => ['index', 'show']
      ]);
      Route::resource('jobs', JobController::class, [
        'except' => ['edit']
      ]);

//- View
details
  summary View
  p.
    vite компелирует, кеширует и отслеживает изменения в папке resources<br>
    resources/views/components/layout.blade.php создаю компонент layout<br>
    вставляю компонент на страницу
  code &lt;x-layout&gt;&lt;/x-layout&gt;
  p подключил лого
  code &lt;img src="{{ Vite::asset('resources/images/logo.svg') }}" alt=""&gt;
  p подключить стили и скрипты
  code @vite(['resources/css/app.css', 'resources/js/app.js'])
  p в SPA-приложении css поключаем в js-файле, поэтому подключаем только js
  code @vite('resources/js/app.js')
  p resources/js/app.js запихиваю картинки глобально, чтобы их учесть при npm run build
  pre
    code.
      import.meta.glob([
        '../images/**',
        '../fonts/**',
      ]);
  p.
    в файле .env указать место хранения загружаемых файлов<br>
    варианты значений в файле config/filesystems.php
  code FILESYSTEM_DISK=public
  p.
    при загрузке изображения оно будет сохранено в storage/app/public<br>
    чтобы оно отображалось сделать ссылку:
  code php artisan storage:link
  p Встроенные шаблоны для писем
  code ./sail artisan vendor:publish --tag=laravel-mail

  //- Localization
  details
    summary Localization
    p Создать папку для переводов
    code php artisan lang:publish
    p Скопировать папку en, переименовать в ru и вставить переводы в файлах

  //- Component
  details
    summary Component

    //- Component styles
    details
      summary Component styles
      p.
        разбить макет на компоненты<br>
        в компоненте задать класс по умолчанию c общими настройками компонента
      pre
        code.
          @php
            $classes = 'className1 className2';
          @endphp

          &lt;div {{ $attributes(['class' => $classes]) }}&gt;
            {{ $slot }}
          &lt;/div&gt;

    //- Component properties
    details
      summary Component properties
      p задаю свойства компонента, которые можно указывать в вёрстке и менять вид компонента
      pre
        code.
          @props(['size' => 'base'])

          @php
            $classes = "className1 className2";
            if ($size === 'base') {
              $classes .= " className3";
            }
            if ($size === 'small') {
              $classes .= " className4";
            }
          @endphp

          &lt;a href="#" class="{{ $classes }}"&gt;{{ $slot }}&lt;/a&gt;

    //- Create component Livewire
    details
      summary Create component Livewire
      p Компонент имеет доступ к публичным свойствам и методам своего класса
      pre
        code.
          php artisan make:livewire ComponentName
          <span>or</span>
          php artisan make:livewire component-name
          
      p Создать компонент в папке
      pre
        code.
          php artisan make:livewire FolderName\\ComponentName
          <span>or</span>
          php artisan make:livewire folder-name.component-name

      p Создать компонент с тестом
      code code ./sail artisan make:livewire create-post --pest

      p Создать шаблон для компонентов livewire
      code ./sail artisan livewire:layout

      p Выбирать разные шаблоны на весь класс
      pre
        code.
          #[Layout('layouts.app')] 
          class CreatePost extends Component
          {
              // ...
          }
      p Выбирать разные шаблоны на методе
      pre
        code.
          #[Layout('layouts.app')] 
          public function render()
          {
            return view('livewire.create-post');
          }
      p Выбирать разные шаблоны динамически
      pre
        code.
          public function render()
          {
            return view('livewire.create-post')
              ->layout('layouts.app'); 
          }
      p Через @yield('content') указываю файл шаблона
      pre
        code.
          &lt;body&gt;
            @yield('content')
          &lt;/body&gt;
      p.
        Метод render() можно не указывать<br>
        Livewire будет автоматически выводить view с названием как у класса
      
      p В класс User.php добавить подстановку title в шаблон
      code.
        use Livewire\Attributes\Title;
        #[Title('title')]
      p Подстановка title динамически
      public function render()
      {
        return view('livewire.create-post')
          ->title('Create Post'); 
      }

      p задаю свойства livewire компонента в классе
      code public $title = 'Post title...';

      p задаю свойства livewire компонента в виде
      code <h1>Title: "{{ $title }}"</h1>

      p Дополнительные свойства при рендере в классе
      code.
        return view('livewire.create-post')->with([
          'author' => Auth::user()->name,
        ]);

      p Дополнительные свойства при рендере в виде
      code Author: {{ $author }}

      p При выводе в любом цикле всегда указывать ключ
      pre
        code.
          @foreach ($posts as $post)
            &lt;livewire:post-item :$post :key="$post->id"&gt;
            @livewire(PostItem::class, ['post' => $post], key($post->id))
          @endforeach

      p Привязка ввода к свойству класса
      code &lt;input type="text" id="title" wire:model="title"&gt;

      p Привязка ввода к методу класса
      pre
        code.
          &lt;form wire:submit="save"&gt;
            &lt;button type="submit"&gt;Save&lt;/button&gt;
          &lt;/form&gt;

      p Получить значения и очистить поля ввода
      pre
        code.
          class ManageTodos extends Component
          {
            public $todos = [];
            public $todo = '';
            public function addTodo()
            {
              $this->todos[] = $this->todo;
              $this->reset('todo'); 
            }
          }
      p Получить значения и очистить поля ввода
      pre
        code.
          class ManageTodos extends Component
          {
            public $todos = [];
        
            public $todo = '';
        
            public function addTodo()
            {
              $this->todos[] = $this->pull('todo');
            }
          }
          // The same as $this->all() and $this->reset();
          $this->pull();
 
          // The same as $this->only(...) and $this->reset(...);
          $this->pull(['title', 'content']);
      
      p Только авторизированный пользователь может изменить данные
      pre
        code.
          public function update()
          {
            $post = Post::findOrFail($this->id);
            $this->authorize('update', $post); 
            $post->update(...);
          }
      p Изменение свойства возможно только внутри класса
      pre
        code.
          class UpdatePost extends Component
          {
            #[Locked] 
            public $id;
          }
      p Свойства Eloquent моделей по умолчанию изменять возможно только внутри класса
      pre
        code.
          class UpdatePost extends Component
          {
            public Post $post; 
            public $title;
            public $content;
            
            public function update()
            {
              $this->post->update([
                'title' => $this->title,
                'content' => $this->content,
              ]);
              session()->flash('message', 'Post updated successfully!');
            }
          }

      p.
        Свойство #[Computed] кеширует запрошенные данные,<br>
        чтобы отправлять каждый раз новый запрос.<br>
        Обращаться к свойству через объект $this->todos
      pre
        code.
          use Livewire\Attributes\Computed;

          #[Computed]
          public function todos()
          {
            return Auth::user()
              ->todos()
              ->select(['title', 'content'])
              ->get();
          }
      
          public function markAllComplete() 
          {
            $this->todos->each->complete();
          }

      p Вывод компонента в Blade view
      code &lt;livewire:create-post /&gt;

      p Вывод компонента в Blade view со значением
      code &lt;livewire:create-post title="Initial Title" /&gt;

      p Вывод компонента в Blade view с динамическим значением переменной
      code &lt;livewire:create-post :title="$initialTitle" /&gt;

      p Инициализация переменной в классе при подключении компонента
      pre
        code.
          class CreatePost extends Component
          {
            public $title;
            public function mount($title = null)
            {
              $this->title = $title;
            }
          }

      p livewire инициализирует переменную автоматически
      pre
        code.
          class CreatePost extends Component
          {
            public $title;
          }

      p Инлайн компонент - это один файл где разметка внутри метода render()
      code ./sail artisan make:livewire CreatePost --inline

      p В routes/web.php добавить
      pre
        code.
          use App\Livewire\User\User;
          Route::get('user', User::class);
      p В классе UserCreate.php добавить переход на страницу uri без перезагрузки страницы с сервера
      code $this->redirect('/user', navigate: true);
      p.
        Свойства и методы формы вынесены в отдельный класс UserForm<br>
        В компоненте User объект класса UserForm определён как form<br>
        Обращения к свойствам класса UserForm через form<br>
      p Подключить assets в layout/app.blade.php
      pre
        code.
          @assets
            &lt;script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js" defer&gt;&lt;/script&gt;
            &lt;link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css"&gt;
          @endassets

          @vite(['resources/css/app.css', 'resources/js/app.js'])
      
      //- Actions
      p $refresh - проверяет БД и отображает на странице
      code <button type="button" wire:click="$refresh">...</button>
      p $commit - отслеживает изменения компонета на сервере
      code <button type="button" wire:click="$commit">...</button>
      //- Event listeners
      p.
        wire:click<br>
        wire:submit<br>
        wire:keydown<br>
        wire:keyup<br>
        wire:mouseenter<br>
        wire:* - любой текст после wire: может быть названием события<br>
        Livewire поддерживает любые событыя браузера, например wire:transitionend
      a(href="https://livewire.laravel.com/docs/actions") слушатели событий
      p.
        wire:loading - загрузчик<br>
        wire:click="delete({{ $post->id }})" - передать в класс параметр<br>
        wire:click="$parent.removePost({{ $post->id }})" - обращаюсь к методу родительского компонента<br>
        wire:click="$set('query', '')" - заменил значение свойства query на пустую строку<br>
        wire:click="$toggle('sortAsc')" - при каждом нажатии меняет true/false
      pre
        code.
          &lt;button wire:click="$toggle('sortAsc')"&gt;
            Sort {{ $sortAsc ? 'Descending' : 'Ascending' }}
          &lt;/button&gt;
      p.
        wire:click="$dispatch('post-deleted')" - срабатывает событие<br>
        $event - даёт доступ к событиям JS, например при нажатии enter<br>
        передать значение ввода в search() - метод класса компонента
      code &lt;input type="text" wire:keydown.enter="search($event.target.value)"&gt;
      p.
        При выполнении метода с #[Renderless] метод render() этого же класса не выполняется,<br>
        либо skipRender() внутри метода<br>
      pre
        code.
          #[Renderless] 
          public function incrementViewCount()
          {
            $this->post->incrementViewCount();
          }

          public function incrementViewCount()
          {
            $this->post->incrementViewCount();
            $this->skipRender(); 
          }
      p.
        wire:dirty.class="border-yellow" - позволяет менять класс<br>
        если значение поля отличается от значения этого поля в БД
      code &lt;input type="text" wire:model.blur="title" wire:dirty.class="border-yellow"&gt;
      p.
        Пока поле ввода title будет в фокусе, будет Unsaved...<br>
        когда фокус уйдёт, значение будет записано в БД и Unsaved... исчезнет
      pre
        code.
          &lt;input type="text" wire:model.blur="title"&gt;
          &lt;div wire:dirty wire:target="title"&gt;Unsaved...&lt;/div&gt;
      p Можно выносить части Livewire компонентов в Blade компоненты
      pre
        code.
          &lt;form wire:submit="save"&gt;
            &lt;x-input-text name="title" wire:model="title" /&gt;
            &lt;x-input-text name="content" wire:model="content" /&gt;
            &lt;button type="submit"&gt;Save&lt;/button&gt;
          &lt;/form&gt;
      p Blade компонент
      pre
        code.
          @props(['name'])
          &lt;input type="text" name="{{ $name }}" {{ $attributes }}&gt;
          &lt;div&gt;
              @error($name) &lt;span class="error"&gt;{{ $message }}&lt;/span&gt; @enderror
          &lt;/div&gt;

      //- Events
      p породить событие post-created
      code $this->dispatch('post-created', title: $post->title);
      p по событию выполнить метод
      pre
        code.
          #[On('post-created')] 
          public function updatePostList($title) { }
      p породить событие post-created с динамическим аттрибутом
      pre
        code.
          $this->dispatch("post-updated.{$post->id}");

          #[On('post-updated.{post.id}')]
      p.
        презагрузить родительский компонент,<br>
        если в дочернем компоненте будет событие saved
      code &lt;livewire:edit-post @saved="$refresh"&gt;
      p.
        вызвать метод close() родительского компонента<br>
        если в дочернем компоненте будет saved конткретного postId
      code &lt;livewire:edit-post @saved="close($event.detail.postId)"&gt;

  //- Validation
  details
    summary Validation
    p.
      В основном такая же как в ларавел, но метод validate() применяется на объекте компонента<br>
      Метод validate() возвращает массив отвалидированных данных либо массив ошибок
    pre
      code.
        public function save()
        {
          $validated = $this->validate([ 
            'title' => 'required|min:3',
            'content' => 'required|min:3',
          ]);
          Post::create($validated);
          return redirect()->to('/posts');
        }
    p.
      В форме ввода не фронте отобразить ошибку валидации с помощью<br>
      директивы @error(), по ключу title выводиться значение $message
    pre
      code.
        &lt;input type="text" wire:model="title"&gt;
        &lt;div&gt;@error('title') {{ $message }} @enderror&lt;/div&gt;
    p Задать правила валидации можно разными способами
    pre
      code.
        <span>методом validate()</span>
        $validated = $this->validate([
          <span>массивом</span>
          'name' => ['required', 'min:2', 'max:30'],
          <span>строкой через разделитель</span>
          'email' => 'required|email|max:30',
          'password' => 'required|min:6',
        ]);

        <span>параметром #[Validate()]</span>
        <span>отслеживает изменение значений</span>
        <span>использует стандартные валидаторы ларавел</span>
        <span>свой текст сообщения</span>
        #[Validate('required', message: 'Имя обязательно')]
        <span>своё имя поля в сообщении</span>
        #[Validate('min:2', as: 'Name')]
        #[Validate('max:30')]
        public string $name;

        <span>написать свои правила валидации</span>
        protected function rules(): array
        {
          return [
            'name' => ['required', 'min:2', 'max:30'],
            'email' => 'required|email|max:30',
            'password' => 'required|min:6',
          ];
        }

        <span>написать свои тексты сообщений об ошибке</span>
        protected function messages(): array
        {
          return [
            <span>название поля.валидатор => текст ошибки</span>
            'name.required' => 'Имя обязательно!',
            'name.min' => 'Имя должно быть длиннее!',
            'email.required' => 'Введите почту!',
            'password.required' => 'Пароль обязателен!',
          ];
        }
    p.
      Если правила валидации заданы параметром #[Validate()]<br>
      или методом rules(),<br>
      то метод validate() вызываем без параметров
    code $validated = $this->validate();
    p Создаю пользователя в БД
    code User::create($validated);
    p.
      wire:model.blur="name" - real-time validation<br>
      срабатывает по событию либо <dfn>.live</dfn> либо <dfn>.blur</dfn><br>
      работает при использовании параметра валидирования #[Validate()]<br>
      wire:model.live="name" - отправляет на сервер введенный знак сразу<br>
      wire:model.live.debounce="name" - отправляет на сервер введенное значение через 200мс после последнего нажатия<br>
      wire:model.live.debounce.5ms="name" - отправляет на сервер введенное значение через 5мс после нажатия<br>

  //- Form
  details
    summary Form
    p.
      B компоненте создаю форму и меняю действие по умолчанию на вызов метода save из класса<br>
      Форма вызывает метод обработки при надатии на enter или на кнопку Save<br>
      B полях ввода данных привязываю данные к свойствам компонента<br>
      Свойство компонента wire:model привязывает к полю ввода свойство класса wire:model="name"<br>
    pre
      code.
        &lt;form wire:submit.prevent="save"&gt;
          &lt;input type="text" wire:model="name"&gt;
          &lt;input type="email" wire:model="email"&gt;
          &lt;button type="submit"&gt;Save&lt;/button&gt;
        &lt;/form&gt;
    p.
      B методе сохранения данных вызываю метод валидации данных<br>
      Если данные валидны, то сохраняю данные в БД<br>
      Если данные не валидны, то вывожу ошибку
    pre
      code.
        public function save()
        {
          $validated = $this->validate([
            'name' => 'required|min:3',
            'email' => 'required|email',
          ]);
          User::create($validated);
        }
    p.
      Вывести ошибку валидации можно c помощью директивы @error()<br>
      По ключу name выводится значение $message
    pre
      code.
        &lt;input type="text" wire:model="name"&gt;
        &lt;div&gt;@error('name') {{ $message }} @enderror&lt;/div&gt;
    p.
      Вывести ошибку валидации можно c помощью директивы @error()<br>
      По ключу name выводится значение $message
    pre
      code.
        &lt;input type="text" wire:model="name"&gt;
        &lt;div&gt;@error('name') {{ $message }} @enderror&lt;/div&gt;
    p.
      Вывести ошибку валидации можно c помощью директивы @error()<br>
      По ключу name выводится значение $message
    pre
      code.
        &lt;input type="text" wire:model="name"&gt;
    p Получить все данные формы
    code $this->all();
    p Получить данные выборочных полей
    code $this->only(['name', 'email'])
    p.
      Метод pull() - это метод only() + reset()<br>
      Заберёт из формы данные полей name и email<br>
      и очистит поля формы name и email
    code $this->pull(['name', 'email'])
    p заберёт из формы все данные и очистит форму
    code $this->pull();
    p.
      Создать класс формы
      Создаст app/Livewire/Forms/FormName.php
    code php artisan livewire:form FormName
    p.
      При создании компонентов CreatePost, UpdatePost и т.д.
      в классах компонентов будут вызываться методы и свойства класса FormName.php.
      T.e. все свойства и методы формы в одном классе и исспользуются разными компонентами.
      Для доступа к свойствам и методам калсса формы в классе компонента создаётся её объект form
      и обращение к свойствам и методам через объект.
      B классе компонента:
    pre
      code.
        public UserForm $form;
        public function save()
        {
            $this->form->saveUser();
        }
    p B шаблоне компонента:
    code wire:model="form.name"

  //- Events
  details
    summary Events
      p.
        События позволяю прослушивать события в другом компоненте.
        Сгенерировать событие: метод dispatch()
      code.
        $this->dispatch('eventname');
        <span>or</span>
        $this->dispatch('eventname', title: $post->title);
      p В другом (других) компоненте добавить слушателя события
      code.
        use Livewire\Attributes\On;

        #[On('eventname')]
        public function updatePost($title) {}

  //- Alpinejs
  details
    summary Alpinejs
    p.
      Фреймворк js включён по умолчанию в livewire<br>
      встраивается в разметку<br>
      работает в браузере без отправки запроса на сервер<br>
      имеет доступ к полям и методам объекта компонента через $wire.
