// wp core functions
// https://developer.wordpress.org/reference/functions/

// custom fields & metaboxes classic theme PHP adding
// https://wordpress.org/plugins/cmb2/

// custom fields & metaboxes block theme React adding
// https://gutenberg.10up.com/

// Convert WordPress block HTML to its JavaScript object or PHP array forms.
// https://happyprime.github.io/wphtml-converter/

//- Создать блок
details
  summary Создать блок
    p Создать блок
    code npx @wordpress/create-block kweblock --namespace=kweb --variant=dynamic
    p Чтобы добавить ещё блок добавить --no-plugin
    p Автоформат добавить в package.json
    code "prettier": "@wordpress/prettier-config"

    // https://developer.wordpress.org/block-editor/getting-started/fundamentals/registration-of-a-block/
    p.
      register_block_type() - регистрация нового блока php, возвращает WP_Block_Type,<br>
                          с данными:<br>
                          $attributes: Массив атрибутов блока.<br>
                          $content: разметка блока, хранящаяся в базе данных, если таковая имеется.<br>
                          $block: Экземпляр класса WP_Block, который представляет отображаемый блок (метаданные блока).<br>
                          генерит разметку на фронте либо<br>
                          render_block и render_callback() указывают что отобразить<br>
      registerBlockType() - регистрация нового блока index.js (@wordpress/blocks),<br>
                          возвращает WPBlock и регистрирует edit.js в редакторе<br>
      wp_register_script() - регистрация скрипта, пакет @wordpress/scripts<br>
      wp_register_style() - регистрация стиля

    // Dynamic blocks
    p.
      регистрирую блок в index.js<br>
      переопределять реализацию save() не нужно<br>
      edit() отображает блок в редакторе
    pre
      code.
        import { registerBlockType } from '@wordpress/blocks';
        import { useSelect } from '@wordpress/data';
        import { useBlockProps } from '@wordpress/block-editor';

        registerBlockType( 'gutenberg-examples/example-dynamic', {
          apiVersion: 3,
          title: 'Example: last post',
          icon: 'megaphone',
          category: 'widgets',

          edit: () => {
            const blockProps = useBlockProps();
            const posts = useSelect( ( select ) => {
              return select( 'core' ).getEntityRecords( 'postType', 'post' );
            }, [] );

            return (
              &lt;div { ...blockProps }&gt;
                { ! posts && 'Loading' }
                { posts && posts.length === 0 && 'No Posts' }
                { posts && posts.length > 0 && (
                  &lt;a href={ posts[ 0 ].link }&gt;
                    { posts[ 0 ].title.rendered }
                  &lt;/a&gt;
                ) }
              &lt;/div&gt;
            );
          },
        } );
    p.
      регистрирую блок в plugin.php<br>
      разметку возвращаю из gutenberg_examples_dynamic_render_callback()
    pre
      code.
        <?php

        /**
        * Plugin Name: Gutenberg examples dynamic
        */

        function gutenberg_examples_dynamic_render_callback( $block_attributes, $content ) {
            $recent_posts = wp_get_recent_posts( array(
                'numberposts' => 1,
                'post_status' => 'publish',
            ) );
            if ( count( $recent_posts ) === 0 ) {
                return 'No posts';
            }
            $post = $recent_posts[ 0 ];
            $post_id = $post['ID'];
            return sprintf(
                '&lt;a class="wp-block-my-plugin-latest-post" href="%1$s"&gt;%2$s&lt;/a&gt;',
                esc_url( get_permalink( $post_id ) ),
                esc_html( get_the_title( $post_id ) )
            );
        }

        function gutenberg_examples_dynamic() {
            <span>automatically load dependencies and version</span>
            $asset_file = include( plugin_dir_path( __FILE__ ) . 'build/index.asset.php');

            wp_register_script(
                'gutenberg-examples-dynamic',
                plugins_url( 'build/block.js', __FILE__ ),
                $asset_file['dependencies'],
                $asset_file['version']
            );

            register_block_type( 'gutenberg-examples/example-dynamic', array(
                'api_version' => 3,
                'editor_script' => 'gutenberg-examples-dynamic',
                'render_callback' => 'gutenberg_examples_dynamic_render_callback'
            ) );

        }
        add_action( 'init', 'gutenberg_examples_dynamic' );
    p.
      Рендеринг на стороне сервера рассматривается как запасной вариант;<br>
      рендеринг на стороне клиента в JavaScript всегда предпочтительнее;<br>
      использует пакет wp-server-side-render
    pre
      code.
        import { registerBlockType } from '@wordpress/blocks';
        import ServerSideRender from '@wordpress/server-side-render';
        import { useBlockProps } from '@wordpress/block-editor';

        registerBlockType( 'gutenberg-examples/example-dynamic', {
          apiVersion: 3,
          title: 'Example: last post',
          icon: 'megaphone',
          category: 'widgets',

          edit: function ( props ) {
            const blockProps = useBlockProps();
            return (
              &lt:div { ...blockProps }&gt;
                &lt:ServerSideRender
                  block="gutenberg-examples/example-dynamic"
                  attributes={ props.attributes }
                /&gt;
              &lt:/div&gt;
            );
          },
        } );

//- InnerBlocks
details
  summary InnerBlocks
    p один блок может содержать только один InnerBlocks компонент.
    pre
      code.
        import { registerBlockType } from '@wordpress/blocks';
        import { InnerBlocks, useBlockProps } from '@wordpress/block-editor';

        registerBlockType( 'gutenberg-examples/example-06', {
            // ...

            edit: () => {
                const blockProps = useBlockProps();

                return (
                    &lt;div { ...blockProps }&gt;
                        &lt;InnerBlocks /&gt;
                    &lt;/div&gt;
                );
            },

            save: () => {
                const blockProps = useBlockProps.save();

                return (
                    &lt;div { ...blockProps }&gt;
                        &lt;InnerBlocks.Content /&gt;
                    &lt;/div&gt;
                );
            },
        } );
    p ограничитель какие блоки могут быть прямыми потомками
    pre
      code.
        const { allowedBlocks } = attributes;
        //...
        &lt;InnerBlocks allowedBlocks={ allowedBlocks } /&gt;;
    p.
      allowedBlocks - указывает какие потомки могут быть прямыми потомками<br>
      parent - для вложенного блока, может быть только прямым потомком<br>
      ancestor - для вложенного блока, может быть только потомком
    pre
      code.
        {
          "title": "Column",
          "name": "core/column",
          "parent": [ "core/columns" ],
        }
        //...
        {
          "title": "Comment Author Name",
          "name": "core/comment-author-name",
          "ancestor": [ "core/comment-template" ],
        }
        //...
        {
          "title": "Navigation",
          "name": "core/navigation",
          "allowedBlocks": [ "core/navigation-link", "core/search", "core/social-links", "core/page-list", "core/spacer" ],
        }
    p useInnerBlocksProps - хук для большего контроля над разметкой внутренних областей блоков
    pre
      code.
        import { registerBlockType } from '@wordpress/blocks';
        import { useBlockProps, useInnerBlocksProps } from '@wordpress/block-editor';

        registerBlockType( 'gutenberg-examples/example-06', {
          edit: () => {
            const blockProps = useBlockProps();
            const { children, ...innerBlocksProps } = useInnerBlocksProps( blockProps );

            return (
              <div {...innerBlocksProps}>
                { children }
                <!-- Insert any arbitrary html here at the same level as the children -->
              </div>
            );
          },
        } );
    p.
      по умолчанию блоки в InnerBlocks отображаются вертикально<br>
      горизонтально их ориентировать с помощью css
    code &lt;InnerBlocks orientation="horizontal" /&gt;
    p отображает значки перемещения блоков в дочерних блоках горизонтально и обеспечивает правильную работу перетаскивания.
    p блок по умолчанию из списка дозволенных
    code &lt;InnerBlocks defaultBlock={['core/paragraph', {placeholder: "Lorem ipsum..."}]} directInsert /&gt;
    p набор блоков, которые предварительно заполняют компонент InnerBlocks, пока нет своего содержимого.
    pre
      code.
        const MY_TEMPLATE = [
            [ 'core/image', {} ],
            [ 'core/heading', { placeholder: 'Book Title' } ],
            [ 'core/paragraph', { placeholder: 'Summary' } ],
        ];

        //...
        edit: () => {
          return (
            &lt;InnerBlocks
              template={ MY_TEMPLATE }
              templateLock="all"
            /&gt;
          )&gt;
        },
    p templateLock - свойство, чтобы заблокировать шаблон
    // https://github.com/WordPress/gutenberg/tree/HEAD/packages/block-editor/src/components/inner-blocks/README.md#templatelock

//- Изменить блок
details
  summary Изменить блок
    // https://developer.wordpress.org/block-editor/getting-started/fundamentals/javascript-in-the-block-editor/
    p Создать файл webpack.config.js и добавить свой код для выполнения webpack
    pre
      code.
        const defaultConfig = require("@wordpress/scripts/config/webpack.config");

        var config = {
          ...defaultConfig,
          entry: {
            ...defaultConfig.entry(),
            "custom/index": "./src/custom/index.js",
          },
        };

    p Внутри папки src создать папку custom и в ней файл index.js
    pre
      code.
        import { unregisterBlockType } from "@wordpress/blocks";
        import domReady from "@wordpress/dom-ready";

        const unregisterBlocks = ["core/verse"];

        domReady(function () {
          unregisterBlocks.forEach(block) => {
            unregisterBlockType(block);
          });
        });

    p В файле kweblock.php добавить код для подключения функционала из custom/index.js
    pre
      code.
        function kweblock_enqueue_editor_modifications() {
          $asset_file = include plugin_dir_path( __FILE__ ) . 'build/custom/index.assets.php';
        
          wp_enqueue_script(
            'kweblock_enqueue_editor_modifications',
            plugins_url( '/build/custom/index.js', __FILE__ ),
            $asset_file['dependencies'],
            $asset_file['version'],
            true
          );
        }
        add_action( 'enqueue_block_editor_assets', 'kweblock_enqueue_editor_modifications' );

    // new variation for the Media & Text block
    pre
      code.
        function example_enqueue_block_variations() {
          wp_enqueue_script(
            'example-enqueue-block-variations',
            get_template_directory_uri() . '/assets/js/variations.js',
            array( 'wp-blocks' ),
            wp_get_theme()->get( 'Version' ),
            false
          );
        }
        add_action( 'enqueue_block_editor_assets', 'example_enqueue_block_variations' );

    // in variations.js file:
    pre
      code.
        wp.blocks.registerBlockVariation(
          'core/media-text',
          {
            name: 'media-text-custom',
            title: 'Media & Text Custom',
            attributes: {
              align: 'wide',
              backgroundColor: 'tertiary'
            },
          }
        );
    p создать шаблон блока типа post сразу с подгрузкой других блоков
    pre
      code.
        add_action( 'init', function() {
          $post_type_object = get_post_type_object( 'post' );
          $post_type_object->template = array(
            array( 'core/image' ),
            array( 'core/heading' )
          );
        } );

    // https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/extending-the-query-loop-block/
    a(href="https://developer.wordpress.org/block-editor/reference-guides/block-api/block-variations/") Вариации Query Loop block
    p.
      Для того чтобы вариация цикла запросов работала правильно, нам необходимо:
      – Зарегистрировать вариацию блока для core/query блока с некоторыми значениями по умолчанию
      – Определить макет для вариации блока
      – Использовать namespaceатрибут в isActiveсвойстве вариации блока
    pre
      code.
        const MY_VARIATION_NAME = 'my-plugin/books-list';
        registerBlockVariation( 'core/query', {
          name: MY_VARIATION_NAME,
          title: 'Books List',
          description: 'Displays a list of books',
          <span>указываю активную вариацию, можно итак: isActive: [ 'namespace' ],</span>
          isActive: ( { namespace, query } ) => {
            return (
              namespace === MY_VARIATION_NAME
              && query.postType === 'book'
            );
          },
          icon: <span>An SVG icon can go here</span>,
          attributes: {
            namespace: MY_VARIATION_NAME,
            query: {
              perPage: 6,
              pages: 0,
              offset: 0,
              <span>предопределил тип записи для цикла запросов</span>
              postType: 'book',
              order: 'desc',
              orderBy: 'date',
              author: '',
              search: '',
              exclude: [],
              sticky: '',
              inherit: false,
            },
          },
          <span>включил отображение блока в редакторе</span>
          scope: [ 'inserter' ],
          }
        );
    p.
      Блок Query Loop определяет, есть ли активная вариация и есть ли для неё шаблоны.<br>
      Если есть, то эти шаблоны будут единственными, если нет - шаблоны по умолчанию.
    a(href="https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/") привязать шаблон
    p.
      отключить элементы управления запросами allowedControls<br>
      inherit – переключатель наследованияя запроса непосредственно из шаблона.<br>
      postType – список доступных типов сообщений.<br>
      order – список для выбора порядка запроса.<br>
      sticky – список для выбора способа обработки прикрепленных сообщений.<br>
      taxQuery – фильтры таксономий для текущего выбранного типа записи.<br>
      author – Показывает поле ввода для фильтрации запроса по автору.<br>
      search – Показывает поле ввода для фильтрации запроса по ключевым словам.<br>
      format – Показывает поле ввода для фильтрации запроса по массиву/коллекции форматов .<br>
      parents – Показывает поле ввода для фильтрации запроса с использованием родительской(их) сущности(ей).
    pre
      code.
        {
          <span>variation properties</span>
          allowedControls: [ 'inherit', 'order', 'taxQuery', 'search' ],
        }
    p.
      пустой массив скроет все элементы управления<br>
      <br>
      Подключить пользовательские элементы управления через хук React подключенный к фильтру блока
    pre
      code.
        import { InspectorControls } from '@wordpress/block-editor';

        export const withBookQueryControls = ( BlockEdit ) => ( props ) => {
          <span>We only want to add these controls if it is our variation,</span>
          <span>so here we can implement a custom logic to check for that, similar</span>
          <span>to the `isActive` function described above.</span>
          <span>The following assumes that you wrote a custom `isMyBooksVariation`</span>
          <span>function to handle that.</span>
          return isMyBooksVariation( props ) ? (
            &lt;&gt;
              &lt;BlockEdit key="edit" { ...props } /&gt;
              &lt;InspectorControls&gt;
                &lt;BookAuthorSelector /&gt; { /** Our custom component */ }
              &lt;/InspectorControls&gt;
            &lt;/&gt;
          ) : (
            &lt;BlockEdit key="edit" { ...props } /&gt;
          );
        };

        addFilter( 'editor.BlockEdit', 'core/query', withBookQueryControls );
    p Подключить пользовательские элементы управления через фильтр query_loop_block_query_vars
    pre
      code.
        {
          <span>variation properties</span>
          attributes: {
            <span>variation attributes</span>
            query: {
              <span>more query settings if needed</span>
              postType: 'book',
              <span>Our custom query parameter</span>
              bookAuthor: 'J. R. R. Tolkien'
            }
          }
        }
    p подключаюсь к фильтру на фронте (когда есть доступ к блоку)
    pre
      code.
        if( 'my-plugin/books-list' === $block[ 'attrs' ][ 'namespace' ] ) {
          add_filter(
            'query_loop_block_query_vars',
            function( $query ) {
              <span>You can read your block custom query parameters here and build your query</span>
            },
          );
        }
    p подключаюсь к запросу API записи в редакторе через фильтр rest_{$this->post_type}_query
    pre
      code.
        add_filter(
          'rest_book_query',
          function( $args, $request ) {
            <span>We can access our custom parameters from here</span>
            $book_author = $request->get_param( 'bookAuthor' );
            <span>your custom query logic</span>
          }
        );

    // https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/
    p изменить поведение или отключить блок

    // https://developer.wordpress.org/block-editor/reference-guides/packages/packages-plugins/
    // https://developer.wordpress.org/block-editor/reference-guides/packages/packages-edit-post/
    p registerPlugin - определить все элементы пользовательского интерфейса плагина в одном месте

    // https://developer.wordpress.org/block-editor/reference-guides/filters/editor-filters/
    p отфильтровать редактор

//- CSS
details
  summary CSS
    // https://github.com/WordPress/block-development-examples
    p Inline style - передаю стили в хук React useBlockProps
    pre
      code.
        import { registerBlockType } from '@wordpress/blocks';
        import { useBlockProps } from '@wordpress/block-editor';

        registerBlockType( 'gutenberg-examples/example-02-stylesheets', {
            edit() {
                const greenBackground = {
                    backgroundColor: '#090',
                    color: '#fff',
                    padding: '20px',
                };

                const blockProps = useBlockProps( { style: greenBackground } );

                return (
                    &lt;p { ...blockProps }&gt;Hello World (from the editor, in green).&lt;/p&gt;
                );
            },
            save() {
                const redBackground = {
                    backgroundColor: '#900',
                    color: '#fff',
                    padding: '20px',
                };

                const blockProps = useBlockProps.save( { style: redBackground } );

                return (
                    &lt;p { ...blockProps }&gt;Hello World (from the frontend, in red).&lt;/p&gt;
                );
            },
        } );
    // useBlockProps - обёртка блока
    // https://developer.wordpress.org/block-editor/reference-guides/block-api/block-edit-save/#block-wrapper-props
    p.
      Хук useBlockProps автоматически включает имя класса для блока,
      генерирует имя для каждого блока, используя имя блока с префиксом wp-block-,
      заменет / разделитель пространства имен символом -.

    // https://developer.wordpress.org/block-editor/getting-started/fundamentals/block-in-the-editor/
    p.
      useBlockProps() - позволяет изменить аттрибуты в оболочке блока,
                        определяет внешнюю разметку блока в редакторе
                          (это хук из @wordpress/block-editor)
      useBlockProps.save() - добавляет классы и атрибуты при сохранении в базу
      get_block_wrapper_attributes() - добавляет классы и атрибуты при динамическом рендере
      wp-block - класс с общими для блоков настройками

    // то же самое, но через отдельные файлы
    p block.json
    pre
      code.
        {
          "apiVersion": 3,
          "name": "gutenberg-examples/example-02-stylesheets",
          "title": "Example: Stylesheets",
          "icon": "universal-access-alt",
          "category": "layout",
          "editorScript": "file:./block.js",
          "editorStyle": "file:./editor.css",
          "style": "file:./style.css"
        }
    p editor.css - green background
    pre
      code.
        .wp-block-gutenberg-examples-example-02-stylesheets {
            background: #090;
            color: white;
            padding: 20px;
        }
    p style.css - red background
    pre
      code.
        .wp-block-gutenberg-examples-example-02-stylesheets {
          background: #900;
          color: white;
          padding: 20px;
        }

    // @wordpress/scripts
    p.
      Если использовать `@wordpress/scripts`, то необходимо импортировать таблицу стилей в соответствующий файл JavaScript<br>
      В `edit.js` - `import './editor.scss';`<br>
      В `index.js` - `import './style.scss';`<br>
      В `view.js` - `import './view.scss';`

    // wp_enqueue_style
    p.
      для включения нескольких файлов использовать wp_enqueue_style на хуках:<br>
      enqueue_block_editor_assets – загружать только в режиме редактора<br>
      enqueue_block_assets – загружается как в интерфейсе, так и в редакторе

//- Editor
details
  summary Editor
    p.
      @wordpress/components and @wordpress/block-editor - пакеты для редактора<br>
      storybook - https://wordpress.github.io/gutenberg/?path=/docs/docs-introduction--page<br>
      Block Toolbar - компонент BlockControls (@wordpress/block-editor)<br>
      Settings Sidebar - компонент InspectorControls (@wordpress/block-editor)<br>

      в консоле браузера wp.data.select('core/editor').getBlocks() - вернет все доступные блоки
